<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 네비게이션 바 (상단고정) -->
<div class="ui top fixed inverted pointing menu" id="authMenu">
	<div class="ui container">
		<a class="header item" href="/"> <i
			class="arrow circle left icon"></i> 홈
		</a>

		<div class="right item">
			<a class="ui inverted button" id="btnLogin" href="/login">로그인</a>
			<a class="ui inverted button" id="btnRegister" href="/register">회원가입</a>
		</div>
	</div>
</div>
</html>