<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="ui middle aligned center aligned grid" id="authForm">
	<div class="column" id="authContent">
		<h2 class="ui center aligned header">회원정보 수정</h2>

		<form class="ui large form" action="/user/settings" method="post">
			<div class="ui stacked segment">
				<div th:if="${error}" th:text="${error}" class="ui red message">11</div>
				<div th:if="${message}" th:text="${message}"
					class="ui green message">11</div>
				<div class="ui horizontal divider">아이디</div>
				<div class="field">
					<div class="ui left icon input">
						<i class="user icon"></i> <input placeholder="아이디" type="text"
							th:value="${user.userID}" disabled /> <input name="userID"
							type="hidden" th:value="${user.userID}" />
					</div>
				</div>

				<br />

				<div class="ui horizontal divider">비밀번호</div>
				<div class="field">
					<div class="ui left icon input">
						<i class="lock icon"></i> <input name="userPassword"
							placeholder="비밀번호" type="password" required />
					</div>
				</div>

				<div class="field">
					<div class="ui left icon input">
						<i class="lock icon"></i> <input name="userPassword2"
							placeholder="비밀번호 확인" type="password" required />
					</div>
				</div>

				<br />

				<div class="ui horizontal divider">닉네임</div>

				<div class="field">
					<div class="ui left icon input">
						<i class="address card icon"></i> <input name="userNick"
							placeholder="닉네임" type="text" th:value="${user.userNick}"
							required />
					</div>
				</div>

				<br />

				<div class="ui horizontal divider">이메일</div>
				<div class="field">
					<div class="ui left icon input">
						<i class="envelope outline icon"></i> <input name="userEmail"
							placeholder="이메일" type="email" th:value="${user.userEmail}"
							required />
					</div>
				</div>

				<br />

				<div class="ui horizontal divider">생년월일</div>

				<div class="field">
					<div class="ui calendar datepicker">
						<div class="ui left icon input">
							<i class="calendar icon"></i> <input id="userBornInput"
								name="userBorn" placeholder="생년월일" type="text"
								th:value="${user.userBorn}" required />
						</div>
					</div>
				</div>

				<br />
				<div class="ui divider"></div>

				<input type="submit" class="ui fluid large green submit button"
					value="수정 완료"></input>
			</div>
		</form>
	</div>
</div>

<br />
<br />
<br />
<br />
</html>