<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div class="ui inverted vertical footer segment" id="footerPage">
	<div class="ui center aligned container" id="footerContent">
		<div class="ui stackable inverted divided grid" id="footerMain">
			<div class="ten wide column">
				<h4 class="ui inverted header">코스터디 (Co-Study)</h4>

				<p>2022-05-09 부터 제작</p>
			</div>

			<div class="six wide column">
				<h4 class="ui inverted header">사이트</h4>

				<div class="ui inverted link list">
					<a class="item" href="#contactPage">문의</a>
				</div>
			</div>
		</div>

		<div class="ui inverted section divider"></div>
		<h4 class="ui inverted header">Copyright 2022. Somnwal All Rights Reserved.</h4>
	</div>
</div>
</html>