<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<link rel="stylesheet" href="/css/mainHeader.css">
<link rel="stylesheet" href="/css/footer.css">
<title>코스터디 :: CoStudy</title>
</head>
<body id="root">
	<div class="pusher">
		<th:block th:include="component/general/dashboard/dashboard_header"></th:block>
		<th:block th:include="component/group/group_view_body"></th:block>
	</div>
	
	<th:block th:include="component/general/footer"></th:block>
	

	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
	<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
	<script
		src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
		integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
		crossorigin="anonymous"></script>
	<script th:inline="javascript">
		(function($) {
			var map;
			var markers = [];
			var latLng = '[[${studyGroup.studyLocation}]]';

			$(document).ready(
					function() {
						var createMap = function( coords, zoom ) {
							var coordsParts = coords.split( "," );
							
							lat = coordsParts[0].replace('"', '');
							lng = coordsParts[1].replace('"', '');
							
							if( typeof google !== "undefined" ) {
								var options = {
									zoom: zoom,
									center: new google.maps.LatLng(lat, lng),
									mapTypeId: google.maps.MapTypeId.ROADMAP,
									disableDefaultUI: true
								};
								
								map = new google.maps.Map( document.getElementById( "map" ), options );
								
								var marker = new google.maps.Marker({
									position: new google.maps.LatLng(lat, lng),
									map: map
								});
							}
						};
						createMap(latLng, 12);
					});
		}(jQuery));
	</script>
	<script src="/js/defaultHeader.js"></script>
	<script src="/js/chat.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAleQJkxCynurDIvbsHJl0o3uD9GMsSSak"></script>
</body>
</html>

