<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 기본 헤더 ( 로그인 유저 ) -->
<div class="ui top fixed inverted pointing menu" id="defaultMenu">
	<div class="ui container">
		<a class="header item" href="/dashboard"> <i
			class="pencil alternate icon"></i> 코스터디
		</a> <a class="item" href="/group/list">스터디 그룹 목록</a> 

		<div class="ui right item">
			<!--  
			<div class="ui icon input">
				<a class="item" href="/group/rank"> <i
					class="chess queen icon"></i> 랭킹
				</a>
			</div>
			-->
			
			<div class="ui dropdown item" style="margin-left: 0.5em;">
				<i class="user outline icon"></i> <span th:if="${(user != null) && (user.userNick != null)}" th:text="${user.userNick}"></span><i
					class="dropdown icon"></i>

				<div class="menu">
					<a class="item" href="/user/settings">계정 설정</a> <a
						class="item" href="/logout">로그아웃</a>
				</div>
			</div>
		</div>
	</div>
</div>
</html>