<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div id="groupRegistered">
	<br />

	<h3 class="ui horizontal divider header">
		<i class="book icon"></i> 가입한 그룹
	</h3>
	<div th:if=${#lists.isEmpty(registered)}>
		가입한 그룹이 없습니다.
	</div>
	<div th:unless="${#lists.isEmpty(registered)}">
		
		<div th:each="group : ${registered}">
			<div class="ui red segments" style="margin-top: 1rem;">
				<div class="ui black segment">
					<div class="ui right aligned grid">
						<div class="left aligned eleven wide column">
							<span th:text="${group.studyName}"></span>
						</div>

						<div class="right aligned five wide column">
							<a class="ui green label"
								th:if="${user.userID == group.groupMaster}">내 그룹</a> <a
								class="ui red button"
								th:href="@{/group/view(id=${group.groupID})}">바로가기</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>